
@{
    ViewBag.Title = "Authorization";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <p class="col-md-2"><a class="btn btn-default" href="https://vk.com">Log with inst</a></p>
    <p class="col-md-2"><a class="btn btn-default" href="https://instagram.com">Log with vk </a></p>
    <p class="col-md-2"><a class="btn btn-default" href="https://facebook.com">Log with facebook </a></p>
</div>

